.chart div {
    font: .8em sans-serif;
    color: white;
    text-align: right;
    background-color: #5b22c3;
    margin: 1px;
    padding: 3px;
}

.svg-chart rect {
    fill: #5b22c3;
}

.svg-chart text {
    fill: white;
    font: .8em sans-serif;
    text-anchor: end;
}